LOCATE COMP "CLK" SITE "P3";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;

LOCATE COMP "i_uart_rx" SITE "H18";
IOBUF PORT "o_uart_rx" IO_TYPE=LVCMOS33;
LOCATE COMP "o_uart_tx" SITE "J17";
IOBUF PORT "o_uart_tx" IO_TYPE=LVCMOS33;


# LOCATE COMP "o_PMOD1A[0]" SITE "C17";
# LOCATE COMP "o_PMOD1A[1]" SITE "A18";
# LOCATE COMP "o_PMOD1A[2]" SITE "B18";
# LOCATE COMP "o_PMOD1A[3]" SITE "A19";
# LOCATE COMP "o_PMOD1A[4]" SITE "B20";
# LOCATE COMP "o_PMOD1A[5]" SITE "B19";
# LOCATE COMP "o_PMOD1A[6]" SITE "F20";
# LOCATE COMP "o_PMOD1A[7]" SITE "D20";

LOCATE COMP "o_PMOD1A[0]" SITE "F20";
LOCATE COMP "o_PMOD1A[1]" SITE "B20";
LOCATE COMP "o_PMOD1A[2]" SITE "B18";
LOCATE COMP "o_PMOD1A[3]" SITE "C17";

LOCATE COMP "o_PMOD1A[4]" SITE "A18";
LOCATE COMP "o_PMOD1A[5]" SITE "A19";
LOCATE COMP "o_PMOD1A[6]" SITE "B19";
LOCATE COMP "o_PMOD1A[7]" SITE "D20";


LOCATE COMP "o_PMOD1B[0]" SITE "E3";
LOCATE COMP "o_PMOD1B[1]" SITE "C2";
LOCATE COMP "o_PMOD1B[2]" SITE "C1";
LOCATE COMP "o_PMOD1B[3]" SITE "D1";

LOCATE COMP "o_PMOD1B[4]" SITE "E2";
LOCATE COMP "o_PMOD1B[5]" SITE "D2";
LOCATE COMP "o_PMOD1B[6]" SITE "B1";
LOCATE COMP "o_PMOD1B[7]" SITE "A3";

LOCATE COMP "o_trigger" SITE "J20";
LOCATE COMP "o_tx_stb" SITE "L18";