LOCATE COMP "CLK" SITE "P6";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;

LOCATE COMP "RX" SITE "A9";
LOCATE COMP "TX" SITE "B9";

#P3_A
LOCATE COMP "o_PMOD1A[0]" SITE "T6";
LOCATE COMP "o_PMOD1A[1]" SITE "P7";
LOCATE COMP "o_PMOD1A[2]" SITE "R5";
LOCATE COMP "o_PMOD1A[3]" SITE "R6";
LOCATE COMP "o_PMOD1A[4]" SITE "R4";
LOCATE COMP "o_PMOD1A[6]" SITE "T4";
LOCATE COMP "o_PMOD1A[5]" SITE "R3";
LOCATE COMP "o_PMOD1A[7]" SITE "T3";

#P3_B
LOCATE COMP "o_PMOD1B[0]" SITE "N3";
LOCATE COMP "o_PMOD1B[1]" SITE "P1";
LOCATE COMP "o_PMOD1B[2]" SITE "M2";
LOCATE COMP "o_PMOD1B[3]" SITE "N1";
LOCATE COMP "o_PMOD1B[4]" SITE "L2";
LOCATE COMP "o_PMOD1B[5]" SITE "M1";
LOCATE COMP "o_PMOD1B[6]" SITE "G2";
LOCATE COMP "o_PMOD1B[7]" SITE "K1";

#P2_A
LOCATE COMP "o_PMOD2[0]" SITE "E1";
LOCATE COMP "o_PMOD2[1]" SITE "F2";
LOCATE COMP "o_PMOD2[2]" SITE "C2";
LOCATE COMP "o_PMOD2[3]" SITE "D1";
LOCATE COMP "o_PMOD2[4]" SITE "B2";
LOCATE COMP "o_PMOD2[5]" SITE "C1";
LOCATE COMP "o_PMOD2[6]" SITE "A2";
LOCATE COMP "o_PMOD2[7]" SITE "B1";